:root {
  --homework-1-color: rgb(256, 230, 250);
}

.title {
  margin-bottom: 20px;
}

/* homework 1 */
.make-a-grid {
  padding: 10px;
  background-color: var(--homework-1-color) ;
  display: grid;
  grid-template-columns: 30% 30% 30%;

  column-gap: 5vw;
}

.first-part {
  grid-column: 1;
}

.second-part {
  grid-column: 2;
}

.third-part {
  grid-column: 3;
}

.first-graph {
  grid-row: 1;
}

.second-graph {
  grid-row: 2;
}

.third-answer {
  grid-row: 3;
}

/* Collapsing */
.unit1 .lbl-toggle {
  background: var(--homework-1-color);
}
.lbl-toggle {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor; /* triangle. This is all you see. */

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content { /*  the adjacent sibling selector, + */
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

input[type='checkbox'].toggle {
  display: none;
}
